spring:
  main:
    allow-bean-definition-overriding: false
  application:
    name: SobesCracker
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: update

telegram-api:
  log-chat-id: ${TELEGRAM_LOG_CHAT_ID}
  token:
    main: ${TELEGRAM_MAIN_TOKEN}
    log: ${TELEGRAM_LOG_TOKEN}
    admin: ${TELEGRAM_ADMIN_TOKEN}
  username:
    main: ${TELEGRAM_MAIN_USERNAME}
    log: ${TELEGRAM_LOG_USERNAME}
    admin: ${TELEGRAM_ADMIN_USERNAME}

server:
  port: 8080